/*  add your styles below
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #333; /* change */
    color: #fff; /* change */
    font-family: Calibri, Arial, sans-serif; /* keep */
    background-color: #F55294;
}

article {
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete */
    background-color: #E88363;
}

header {
    background-color: #660044;
}

footer {
    background-color: #660044;

}

aside {
  background-color: #F55294;
}

figure {
  background-color: #590A09;
}

/* add your pseudo classes below this line */

a:link {
  color: #fff94c;
}

a:visited {
  color: #896173;
}

a:focus {
  color: #ff8ca3;
}

a:hover {
  color: #ffbada;
}

a:active {
  color: #fce0e3;
}

footer a:link {
  color: #fff94c;
}

footer a:visited {
  color: #680626;
}

footer a:focus {
  color: #ff8ca3;
}

footer a:hover {
  color: #ffbada;
}

footer a:active {
  color: #b21549;
}
